@import "../../styles/variables";
@import "../../styles/icons";



header{

}

.header-top{
  $telephone-font-size: 0.9rem;

  background: $color-green;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 2%;

  a {
    text-decoration: none;
    color: $color-white;
    font-size: $telephone-font-size;

    &:hover{
      text-decoration: underline;
    }

    &[href^="tel"] {

      &:before {
        @extend .icon-telephone;
        content: "";
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;
        margin-right: 5px;
      }
    }
  }
}